{% extends "base.html" %}

{% block content %}
    <div class="rules">
  <div class="cardd">
    <div class="front"><span>Правила игры с ботом)</span></div>
    <div class="back"><span>Система придумывает слово из 5 или более букв по выбранной ранее теме, затем вы параллельно с ботом начинаете угадывать буквы. Если буква есть в данном слове, она будет помещена в то место, где она должна быть, а если буквы там нет, то рисуется деталь виселицы. Игра закончится тогда, когда один из игроков угадает слово или у обоих будет целая виселица.</span></div>
  </div>
</div>
    <div class="rules">
  <div class="cardd">
    <div class="front"><span>Правила игры с системой)</span></div>
    <div class="back"><span>Система придумывает слово из 5 или более букв по выбранной ранее теме, затем вы начинаете угадывать буквы. Если буква есть в данном слове, она будет помещена в то место, где она должна быть, а если буквы там нет, то рисуется деталь виселицы. Игра закончится тогда, когда все буквы будут угаданы или будет целая виселица.</span></div>
  </div>
</div>
    <div class="rules">
  <div class="cardd">
    <div class="front"><span>Правила игры с реальным человеком</span></div>
    <div class="back"><span>Вы с напарником по игре загадаете друг другу любые существующие слова, затем начнете угадывать буквы. Если буква есть в слове, она будет помещена в то место, где она должна быть, а если буквы там нет, то рисуется деталь виселицы. Игра закончится тогда, когда один из игроков угадает слово или у обоих будет целая виселица.</span></div>
  </div>
</div>

{% endblock %}