{% extends "base.html" %}

{% block content %}
<center>
    <table style="width: 90%">
            <tr>
                <th>№</th>
                <th>Ник</th>
                <th>Победы</th>
                <th>Поражения</th>
                <th>Ничьи</th>
            </tr>
        {% for item in users%}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{ item.nickname }}</td>
                <td>{{ item.wins }}</td>
                <td>{{ item.fails }}</td>
                <td>{{ item.nones }}</td>
            </tr>
        {% endfor %}
        </table>
</center>
{% endblock %}